
.card-image-top{
  border-bottom: 5px;
  border-color: black;
}

.project-card{
  margin: 10px 5px;
  box-shadow: 3px 3px #b6e7caf1;
  background-color: white;
}

.card-body{
  color: black;
  display: block;
  font-size: 14pt;
}

.menu{
  background-color: rgba(7, 3, 3, 0.753);
  color: white;
  border-radius: 3%;
  padding: 2px 5px;
  display: none;
}

.description-container {
  background-color: rgba(0, 0, 0, 0.753);
  border-radius: 3%;
  padding: 2px 5px;
  color: black;
  display: none;
  font-size: 16pt;
}

.technologies {
  font-size: 12pt;
  font-weight: bold;
}