.project {
  margin: 10px 5px;
  box-shadow: 3px 3px #b6e7caf1;
}

.project:hover {
background-color: black;
}

.project:hover .image{
  opacity: 0.6;
}

.project:hover .menu{
  display: inline;
}

.project:hover .description-container{
  display: block;
}

.menu{
  background-color: rgba(0, 0, 0, 0.753);
  border-radius: 3%;
  padding: 2px 5px;
  display: none;
}

.description-container {
  background-color: rgba(0, 0, 0, 0.753);
  border-radius: 3%;
  padding: 2px 5px;
  color: white;
  display: none;
  font-size: 14pt;
}

a{
  color: white;
}

p{
  color: white;
}

a:hover{
  color: rgba(240, 248, 255, 0.849);
}